button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	background: $color__background-button;
	color: $color__background-body;
	@include font-size(0.75);
	line-height: 1;
	padding: 1em 2em;

	&:hover {
		background: $color__background-body;
		border-color: $color__border-button-hover;
		color: $color__background-button;
	}

	&:active,
	&:focus {
		background: $color__background-body;
		border-color: $color__border-button-focus;
		color: $color__background-button;

	}
}
