$color__background-body: #fcfcfc;
$color__background-screen: #fcfcfc;
$color__background-hr: #f6e4ca;
$color__background-button: #330D09;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #801408;
$color__link-visited: #801408;
$color__link-hover: midnightblue;
$color__text-main: #330D09;

$color__border-button: #330D09;
$color__border-button-hover: #330D09;
$color__border-button-focus: #330D09;
$color__border-input: #ccc;
$color__border-abbr: #666;
