.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}



#content {
	margin: 0 3rem;
}

#colophon {
	background-color: $color__text-main;
	color: $color__background-body;
	margin-top: 3rem;
	padding: 6rem 0;  
	a {
		border-bottom: 2px dotted $color__background-body;
		color: $color__background-body;
		text-decoration: none;
		&:hover {
			border-bottom: 2px solid $color__background-body;
		}
	}  
	.site-info {
		margin: 0 3rem;
	}
}

.recording-wrapper {
	display: flex;
	flex-direction: column;
	@media screen and (min-width: 40rem) {
		flex-direction: row;
	}
}

.recording-description {
	flex: 2;
	@media screen and (min-width: 40rem) {
		margin-left: 3rem;
		margin-top: 0;
	}
	p {
		margin: 0;
	}
}

.featured-image-wrapper {
	flex: 1;
}

#home-wrapper {
	// background-color: $color__text-main;
	display: flex;
	flex-direction: column;
	// max-height: 33rem;
	@media screen and (min-width: 40rem) {
		flex-direction: row;
	}
}

#home-quote {
	font-size: 1em;
	width: 100%;
	// margin: 0;
	// padding: 3em;
	flex: 1;
	// margin: 0 1rem;
	@media screen and (min-width: 35rem) {
		font-size: 2em;
	}
}

#home-headshot {
	flex: 2;
	// height: 15rem;
	margin-top: 0;
	// overflow: hidden;
	// @media screen and (min-width: 35rem) {
	// 	// height: 25rem;
	// }
	// @media screen and (min-width: 40rem) {
	// 	// height: 35rem;
	// }
}