.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

#home-wrapper {
	// background-color: $color__text-main;
	display: flex;
	flex-direction: column;
	// max-height: 33rem;
	@media screen and (min-width: 40rem) {
		flex-direction: row;
	}
}

#home-quote {
	font-size: 1em;
	width: 100%;
	// margin: 0;
	// padding: 3em;
	flex: 1;
	margin: 0 1rem;
	@media screen and (min-width: 35rem) {
		font-size: 2em;
	}
}

#home-headshot {
	flex: 2;
	// height: 15rem;
	margin-top: 0;
	// overflow: hidden;
	// @media screen and (min-width: 35rem) {
	// 	// height: 25rem;
	// }
	// @media screen and (min-width: 40rem) {
	// 	// height: 35rem;
	// }
}